<%= form_for @post do |f| %>
<div>
  <%= f.label 'Title:' %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label 'Content:' %>
  <%= f.text_area :content %>
</div>
<div>
  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, Category.all, :id, :genre) %>
</div>

<%= f.submit 'Entry' %>
<% end %>
