<h2>Title List</h2>
<div>
  <form class="navbar-form" role="search">
    <div class="form-group navbar-left">
    <%= search_form_for @q do |f| %>
    <%= f.label :title_or_content_cont, 'Search' %>
    <%= f.search_field :title_or_content_cont %>

      <!--<input type="text" class="form-control" placeholder="Search">-->
    </div>
    <%= f.submit 'Search' %>
    <% end %>
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  </form>
</div>
<hr/>
<ul>
<% @posts.each do |post| %>
  <li><a href="posts/<%= post.id %>"><%= post.title %></li></a>
<% end %>
</ul>
<%= link_to 'Entry', new_post_path %>
<div class="text-center">
  <%= paginate @posts %>
</div>
