<div>
  <strong>Title:</strong><%= @post.title %>
</div>
<div>
  <strong>content:</strong><br/><%= @post.content %>
</div>
<div>
  <strong>category:</strong><%= @post.category.genre %>
</div>
<div class="comment">
  <% @comments.each do |comment| %>
      <div class="media">
        <div class="media-body">
          <p><%= simple_format(comment.body) %></p>
          <p class="text-muted">
            投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
            <%= link_to "削除", comment_path(comment), method: :delete %>
          </p>
        </div>
      </div>
    <% end %>
</div>
  <%= form_for @comment, url: {controller: :comments, action: :create} do |f| %>
<div>
  <%= f.label :body, 'コメント内容：' %><br/>
  <%= f.text_area :body %>
</div>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
  <% end %>
<%= link_to 'Back to TOP', posts_path %>
<%= link_to 'Edit', edit_post_path %>
<%= link_to 'Delete', post_path, method: :delete %>
