<div>
  <strong>Title:</strong><%= @post.title %>
</div>
<div>
  <strong>content:</strong><br/><%= @post.content %>
</div>
<div>
  <strong>category:</strong><%= @post.category.genre %>
</div>
<%= link_to 'Back to TOP', posts_path %>
<%= link_to 'Edit', edit_post_path %>
<%= link_to 'Delete', post_path, method: :delete %>
